*{
    padding: 0;
    margin: 0;
    font-family: serif;
    outline: none;
}
.container{
    position: relative;
    margin: 20px 20px 20px 20px;
    height: 100%;
    width: 97%;
    background-color: #fff;
    overflow: hidden;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container::after{
    display: none;
    overflow: hidden;
    margin: 20px 20px 20px 20px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
    height: 100%;
    width: 97.1%;
    content: "";
    z-index: 1;
    background-color: saddlebrown;
    
}
.mainMenu{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 22px 21px 21px 22px;
    height: 0%;
    width: 0%;
    background: linear-gradient(to right,green 50%,lightgreen);
    top: 0%;
    /* display: none; */
    right: 0%;
    z-index: 100;
    transition: all 0.7s ease;
    /* animation: animate 1s linear forwards; */
}
.mainMenu ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    display: none;
}
.mainMenu ul li{
    color: white;
    letter-spacing: 1px;
    list-style: none;
    margin: 20px 0px;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    z-index: 2;
    width: auto;
    /* background-color: rosybrown; */
    cursor: pointer;
}
/* .animateClass{
    animation: animate 1s linear forwards;
}
@keyframes animate{
    from{
        top: -110%;
        right: -110%;
    }
    to{
        top: 0%;
        right: 0%;
    }
} */

/* .mainMenu ul li::before{
    content: "";
    clip-path: polygon(20% 0,100% 0,90% 100%,0 100%);
    z-index: -1;
    position: absolute;
    background-color: red;
    height: 40px;
    width: 220px;
    display: none;
}
.mainMenu ul li:hover > .mainMenu ul li::before{
    display: block;
} */
.hoverEffect{
    position: absolute;
    height: 42px;
    clip-path: polygon(20% 0,100% 0,100% 100%,0 100%);
    right: 0%;
    width: 0px;
    background-color: #fff;
    z-index: -1;  
}
.mainMenu ul li:hover{
    color: green;
}
.mainMenu ul li:hover .hoverEffect{
    width: 5px;
    transition: 0.2s;
   animation: animate 0.5s linear forwards,
              changeSize 0.5s 0.2s linear forwards;
}
@keyframes animate{
    from{
        width: 5px;
    }
    to{
        width: 100%;
    }
}
@keyframes changeSize{
    from{
        clip-path: polygon(20% 0,100% 0,100% 100%,0 100%);
    }
    to{
        clip-path: polygon(0% 0,100% 0,100% 100%,0 100%);
    }
}
.barsLogo{
    z-index: 100000;
    position: fixed;
    top: 28px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    right: 35px;
    height: 40px;
    width: 40px;
    background-color: #fff;
    
}
.bars{
    cursor: pointer;
    position: absolute;
    font-size: 20px;
}
.bars:hover{
    transition: .5s;
    transform: scale(1.2);
}

.header{
    position: relative;
    width: 100%;
    height: 600px;
    background-image: linear-gradient(to right,green 50%,lightgreen);
    clip-path: polygon(0 0, 100% 0 ,100% 80%,0 100%);
    text-align: center;
}
.header::before{
    background: url(hero.jpg) no-repeat center center/cover;
    content: '';
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.5;
}
.header #headerTitle{
    position: relative;
    top: 25%;
    letter-spacing: 20px;
    color: white;
    font-size: 80px;
}
.header #headerPara{
    position: relative;
    top: 28%;
    letter-spacing: 10px;
    color: white;
    font-size: 30px;
}
.header #headerButton{
    position: absolute;
    top: 55%;
    left: 40%;
    cursor: pointer;
    height: 45px;
    width: 200px;
    border: none;
    border-radius: 25px;
    text-align: center;
}
.header #headerLogo{
    position: absolute;
    left: 20px;
    top: 20px;
    height: 35px;
    opacity: 0.5;
    z-index: -1;
    cursor: pointer;
}

.description{
    position: relative;
    width: 100%;
    height: 400px;
    background-color: #fff;
}
.description #descriptionHeading{
    color: lightgreen;
    text-align: center;
}
.description #descriptionHeading:hover{
    transform: rotateZ(1deg);
    font-size: 33px;
    /* box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.5); */
    transition: .5s;
    text-shadow: 2px 2px black;
}
.description .descriptionDetails{
    position: absolute;
    left: 13%;
    top: 20%;
    color: grey;
}
.description .descriptionImg{
    position: absolute;
    left: 60%;
    top: 20%;
}
#natImg-1:hover{
    z-index: 100;
    transition: 0.2s;
    height: 160px;
    width: 260px;
    padding: 10px 10px 10px 10px;
    border:10px solid lightgreen;
}
#natImg-2:hover{
    z-index: 100;
    transition: 0.2s;
    height: 160px;
    width: 260px;
    padding: 10px 10px 10px 10px;
    border:10px solid lightgreen;
}
#natImg-3:hover{
    z-index: 100;
    transition: 0.2s;
    height: 160px;
    width: 260px;
    padding: 10px 10px 10px 10px;
    border:10px solid lightgreen;
}
#natImg-1{
    position: absolute;
    z-index: 1;
    height: 150px;
    width: 250px;
    box-shadow: 10px 15px 30px 0 rgba(0, 0, 0, 0.5);
}
#natImg-2{
    position: absolute;
    left: 120px;
    top: 70px;
    height: 150px;
    width: 250px;
    z-index: 2;
    box-shadow: 10px 15px 30px 0 rgba(0, 0, 0, 0.5);
}
#natImg-3{
    position: absolute;
    z-index: 3;
    height: 150px;
    width: 250px;
    left: 50px;
    top: 120px;
    box-shadow: 10px 15px 30px 0 rgba(0, 0, 0, 0.5);
}
.cards{
    position: relative;
    height: 700px;
    width: 100%;
    background-color: green;
    clip-path: polygon(0 30%, 100% 0 ,100% 70%,0 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.cards::before{
    background: url(nat-4.jpg) no-repeat center center/cover;
    content: '';
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.5;
}
.cards .card1{
    opacity: 0.8;
    border-radius: 5px;
    height: 250px;
    width: 200px;
    background-color: honeydew;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card1:hover{
    transition: .4s;
    margin-top: -30px;
    box-shadow: 25px 25px 40px 0 rgba(0, 0, 0, 0.5);
}
.card2:hover{
    transition: .4s;
    margin-top: -30px;
    box-shadow: 25px 25px 40px 0 rgba(0, 0, 0, 0.5);
}
.card3:hover{
    transition: .4s;
    margin-top: -30px;
    box-shadow: 25px 25px 40px 0 rgba(0, 0, 0, 0.5);
}
.card4:hover{
    transition: .4s;
    margin-top: -30px;
    box-shadow: 25px 25px 40px 0 rgba(0, 0, 0, 0.5);
}
.card1 .globe{
    color: lightgreen;
    background-color: white;
    font-size: 50px;
}
.card1 h3{
    font-size: 15px;
}
.card2 .compass{
    color: lightgreen;
    background-color: white;
    font-size: 50px;
}
.card2 h3{
    font-size: 15px;
}
.card3 .map{
    font-size: 50px;
    color: lightgreen;
    background-color: white;
}
.card3 h3{
    font-size: 15px;
}
.card4 .heart{
    color: lightgreen;
    background-color: white;
    font-size: 50px;
}
.card4 h3{
    font-size: 15px;
}
.cards .card2{
    opacity: 0.8;
    border-radius: 5px;
    height: 250px;
    width: 200px;
    background-color: honeydew;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cards .card3{
    height: 250px;
    width: 200px;
    background-color: honeydew;
    margin-right: 40px;
    display: flex;
    opacity: 0.8;
    border-radius: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cards .card4{
    height: 250px;
    width: 200px;
    background-color: honeydew;
    margin-right: 40px;
    display: flex;
    opacity: 0.8;
    border-radius: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}
.infoCards{
    position: relative;
    width: 100%;
    height: 600px;
}
.cardContainer1{
    position: absolute;
    left: 15%;
    height: 450px;
    transform-style: preserve-3d;
    transition: all 1s ease;
    width: 300px;
}
#infoCard1Front{
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 15px 30px 0 rgba(0,0,0,0.5) ;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    backface-visibility: hidden;
}
#infoCard1Back{
    background: linear-gradient(#f4a261,#f77f00);
    height: 100%;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 15px 30px 0 rgba(0,0,0,0.5) ;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}
.cardContainer1:hover{
    transform: rotateY(180deg);
    /* transition: 1s; */
}

#infoCard1Back p{
    font-size: 20px;
    color: white;
    /* line-height: 100px; */
}
#infoCard1Back h5{
    font-size: 70px;
    color: white;
    /* line-height: 400px; */
}   
#infoCard1Back button{
    font-size: 20px;
    height: 40px;
    margin-top: 40px;
    cursor: pointer;
    text-align: center;
    border-radius: 25px;
    border: none;
    width: 150px;
}
/* #infoCard1Back button:hover{
    animation: borderFade 0.5s ease-out forwards;
}
@keyframes borderFade{
    0%{
        height:40px;
        width: 150px;
    }
    20%{
        height:50px;
        width: 160px;
    }
    50%{
        height:60px;
        width: 170px;
    }
    70%{
        height:50px;
        width: 160px;
    }
    100%{
        height:40px;
        width: 150px;
    }
} */
.cardContainer2{
    position: absolute;
    left: 40%;
    height: 450px;
    transform-style: preserve-3d;
    transition: all 1s ease;
    width: 300px;
}
#infoCard2Front{
    position: absolute;
    /* left: 40%; */
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    background-color: #fff;
    box-shadow: 0px 15px 30px 0 rgba(0,0,0,0.5) ;
    margin-right: 50px;
}
#infoCard2Back{
    background-image: linear-gradient(lightgreen,green);
    height: 100%;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 15px 30px 0 rgba(0,0,0,0.5) ;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}
.cardContainer2:hover{
    transform: rotateY(180deg);
    /* transition: 1s; */
}

#infoCard2Back p{
    font-size: 20px;
    color: white;
    /* line-height: 100px; */
}
#infoCard2Back h5{
    font-size: 70px;
    color: white;
    /* line-height: 400px; */
}   
#infoCard2Back button{
    font-size: 20px;
    height: 40px;
    margin-top: 40px;
    cursor: pointer;
    text-align: center;
    border-radius: 25px;
    border: none;
    width: 150px;
}
.cardContainer3{
    position: absolute;
    left: 65%;
    height: 450px;
    transform-style: preserve-3d;
    transition: all 1s ease;
    width: 300px;
}
#infoCard3Front{
    /* left: 65%; */
    position: absolute;
    /* left: 30px; */
    height: 100%;
    display: flex;
    flex-direction: column;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 15px 30px 0 rgba(0,0,0,0.5) ;
    margin-right: 50px;
}
#infoCard3Back{
    background-image: linear-gradient(lightblue,blue);
    height: 100%;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 15px 30px 0 rgba(0,0,0,0.5) ;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}
.cardContainer3:hover{
    transform: rotateY(180deg);
    /* transition: 1s; */
}

#infoCard3Back p{
    font-size: 20px;
    color: white;
    /* line-height: 100px; */
}
#infoCard3Back h5{
    font-size: 70px;
    color: white;
    /* line-height: 400px; */
}   
#infoCard3Back button{
    font-size: 20px;
    height: 40px;
    margin-top: 40px;
    cursor: pointer;
    text-align: center;
    border-radius: 25px;
    border: none;
    width: 150px;
}
.infoCard1Heading{
    margin-top: -18px;
    height: 200px;
    background-image: linear-gradient(#f4a261,#f77f00);
    clip-path: polygon(0 0,100% 0%,100% 80%,0 100% );
}
.infoCard1Heading::before{
    background: url(nat-5.jpg) no-repeat center center/cover;
    content: '';
    position: absolute;
    left: 0;
    height: 200px;
    width: 300px;
    z-index: 1;
    opacity: 0.5;
}
#infoHead1A{
    position: absolute;
    background:linear-gradient(to right,#f4a261,#f77f00);
    font-size: 30px;
    left: 54%;
    top: 30%;
    z-index: 2;
}
#infoHead1B{
    position: absolute;
    background:linear-gradient(to right,#f4a261,#f77f00);
    font-size: 30px;
    left: 43%;
    top: 37%;
    z-index: 2;
}
#infoCard1Info{
    position: relative;
    height: 250px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.infoCard2Heading{
    margin-top: -18px;
    height: 200px;
    background-image: linear-gradient(lightgreen,green);
    clip-path: polygon(0 0,100% 0%,100% 80%,0 100% );
}
.infoCard2Heading::before{
    background: url(nat-6.jpg) no-repeat center center/cover;
    content: '';
    position: absolute;
    left: 0;
    height: 200px;
    width: 300px;
    z-index: 1;
    opacity: 0.5;
}
#infoHead2A{
    position: absolute;
    background:linear-gradient(to right,lightgreen,green);
    font-size: 30px;
    left: 36%;
    top: 30%;
    z-index: 2;
}
#infoHead2B{
    position: absolute;
    background:linear-gradient(to right,lightgreen,green);
    font-size: 30px;
    left: 64.5%;
    top: 37%;
    z-index: 2;
}
#infoCard2Info{
    position: relative;
    height: 250px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.infoCard3Heading{
    margin-top: -18px;
    height: 200px;
    background-image: linear-gradient(lightblue,blue);
    clip-path: polygon(0 0,100% 0%,100% 80%,0 100% );
}
.infoCard3Heading::before{
    background: url(nat-6.jpg) no-repeat center center/cover;
    content: '';
    position: absolute;
    left: 0;
    height: 200px;
    width: 300px;
    z-index: 1;
    opacity: 0.5;
}
#infoHead3A{
    position: absolute;
    background:linear-gradient(to right,lightblue,blue);
    font-size: 30px;
    left: 42%;
    top: 30%;
    z-index: 2;
}
#infoHead3B{
    position: absolute;
    background:linear-gradient(to right,lightblue,blue);
    font-size: 30px;
    left: 25.5%;
    top: 37%;
    z-index: 2;
}
#infoCard3Info{
    position: relative;
    height: 250px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.discoverTours{
    position: absolute;
    color: white;
    top: 85%;
    cursor: pointer;
    left: 45%;
    background:linear-gradient(to right,lightgreen,green);
    border: none;
    font-size: 20px;
    text-align: center;
    height: 45px;
    width: 200px;
    border-radius: 25px;
}
.alumini{
    position: relative;
    background-color: #fff;
    width: 100%;
    height: 800px;
    transition: all 1s ease;
}
#aluminiVideo{
    position: absolute;
    left: 0;
    height: 100%;
    z-index: 0;
    opacity: 0.3;
    width: 100%;
    /* z-index: -1; */
}
.alumini h1{
    position: absolute;
    color: green;
    left: 30%;
    top: 10%;
}
.alumini h1:hover{
    transform: rotateZ(1deg);
    font-size: 33px;
    /* box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.5); */
    transition: .5s;
    text-shadow: 2px 2px black;
}
#alumini1{
    position: absolute;
    clip-path: polygon(10% 0,100% 0,90% 100%,0 100%);
    width: 60%;
    top: 25%;
    left: 20%;
    opacity: 0.8;
    /* text-align: center; */
    height: 30%;
    background-color: #fdfffc;
   
}
#imgName1{
    position: absolute;
    left: -11112px;
    top: 112px;
    font-size: 20px;
}
#alumini1:hover > img{
    transition: 0.5s;
    filter: blur(2px);
    /* content: "MARY"; */
}
#alumini1:hover > h5{
    transition: 0.2s;
    left: 112px;
    /* content: "MARY"; */
}
#imgName2{
    position: absolute;
    left: -11112px;
    top: 112px;
    font-size: 20px;
}
#alumini2:hover > img{
    transition: 0.5s;
    filter: blur(2px);
    /* content: "MARY"; */
}
#alumini2:hover > h5{
    transition: 0.2s;
    left: 112px;
    /* content: "MARY"; */
}
#alumini1 img{
    position: absolute;
    top: 18%;
    left: 12%;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
#alumini1 h3{
    font-size: 20px;
    position: absolute;
    top: 25%;
    left: 33%;
}
#alumini1 p{
    font-size: 15px;
    position: absolute;
    top: 45%;
    left: 33%;
}
#alumini2{
    position: absolute;
    opacity: 0.8;
    clip-path: polygon(10% 0,100% 0,90% 100%,0 100%);
    width: 60%;
    top: 60%;
    left: 20%;
    height: 30%;
    background-color: #fdfffc;
}
#alumini2 img{
    position: absolute;
    top: 18%;
    left: 12%;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
#alumini2 h3{
    font-size: 20px;
    position: absolute;
    top: 25%;
    left: 33%;
}
#alumini2 p{
    font-size: 15px;
    position: absolute;
    top: 45%;
    left: 33%;
}
.alumini h2{
    position: absolute;
    color: green;
    text-decoration: underline;
    font-size: 20px;
    top: 95%;
    left: 40%;
    cursor: pointer;
}
.registration{
    position: relative;
    width: 100%;
    height: 700px;
    background:linear-gradient(to right, lightgreen 50%,green);
}
#regiBox{
    background: url(nat-10.jpg) no-repeat center center/cover;
    position: absolute;
    height: 500px;
    width: 1000px;
    top: 15%;
    left: 15%;
    background-color: #fff;
   
}
#enterInfo{
    position: absolute;
    width: 500px;
    height: 100%;
    clip-path: polygon(0 0 , 100% 0, 85% 100% , 0 100%);
    opacity: 0.9;
    background-color: #f1faee;
    transition: all 0.7s ease;
}
#regiBox:hover > #enterInfo{
    width: 520px;
    transition: .5s;
}
#enterInfo h1{
    position: absolute;
    top: 15%;
    left: 10%;
    color: green;
}
#name{
    position: absolute;
    top: 35%;
    background-color: #fff;
    border: none;
    left: 10%;
    height: 40px;
    padding-left: 10px;
    width: 300px;
}
/* #name:hover{
    border-bottom: 2px solid red;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.5);
    cursor: blink;
} */
#email{
    position: absolute;
    top: 50%;
    background-color: #fff;
    border: none;
    left: 10%;
    height: 40px;
    padding-left: 10px;
    width: 300px;
}
#rd1{
    position: absolute;
    top: 65%;
    left: 10%;
}
#rd2{
    position: absolute;
    top: 65%;
    left: 40%;
}
#nextStep{
    cursor: pointer;
    position: absolute;
    top: 85%;
    left: 10%;
    height: 40px;
    width: 150px;
    color: white;
    background-color:green;
    border: none;
    border-radius: 25px;
}
